# Git
.git
.gitignore

# IDE
.idea
.vscode
*.iml

# OS
.DS_Store
Thumbs.db

# Build output (CRITICAL)
# -------------------
target/
*.jar


# Logs
*.log

# Secrets
.env
.env.*
*.pem
*.key
*.crt

# -------------------
# Docs & configs
# -------------------
README.md
Dockerfile
docker-compose.yml

# -------------------
# Test & CI artifacts
# -------------------
coverage/
*.tmp


