apiVersion: apps/v1
kind: Deployment
metadata:
  name: petclinic
  namespace: dev
spec:
  replicas: 2
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  selector:
    matchLabels:
      app: petclinic
  template:
    metadata:
      labels:
        app: petclinic
    spec:
      containers:
      - name: petclinic
        image: binay8025/binayp:dev
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 8070

        envFrom:
        - configMapRef:
            name: petclinic
        - secretRef:
            name: petclinic

        resources:
          requests:
            cpu: "250m"
            memory: "512Mi"
          limits:
            cpu: "500m"
            memory: "1Gi"

